html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1e8e8;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 400px;
  border-radius: 30px;
  padding: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 153, 98, 0.5)), to(rgba(166, 47, 3, 0.5))), url("noise.svg");
  background: linear-gradient(rgba(217, 153, 98, 0.5), rgba(166, 47, 3, 0.5)), url("noise.svg");
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container h1 {
  color: #A62F03;
  font-size: 38px;
  text-shadow: #e0e0e0 1px 1px 0;
}

.container h3 {
  font-size: 22px;
}

.container form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #20402E;
  font-weight: 600;
}

.container form .form-group label {
  margin: 0.5rem 0 0.2rem 0;
}

.container form .form-group input {
  height: 30px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.33);
          box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.33);
  border: 1px solid #20402E;
  border-radius: 5px;
  padding-left: 0.5rem;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container form .form-group input:valid {
  border: 1px solid #048C73;
}

.container form .form-group input:invalid {
  border: 1.5px solid #A62F03;
}

.container form button {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #A62F03;
  border: #A62F03 solid 2px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 2px 5px -3px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 2px 5px -3px;
}

.container form button:hover {
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.33);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.33);
}

.container .message-container {
  padding: 0 1rem;
  border: #20402E solid 1px;
  border-radius: 10px;
  color: #20402E;
  text-shadow: #fff 1px 1px 0;
}
/*# sourceMappingURL=style.css.map */